body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    line-height: 1.6;
    font-style: oblique;
}
header{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}
img{
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
nav ul{
    list-style: none;
    background-color: lightblue;
    color: black;
    padding: 0;
    text-align: center;
    margin: 0;  
}
nav ul li{
    display: inline;
    margin: 0 15px;

}
p{
    color: black;
}
nav ul li a{
    text-decoration: none;
    color: lightsteelblue;
    font-size: 1.1em;
    transition: all;
}
img h3:hover{
    color: cadetblue;

}
.xia{
    width: 200px;
    height: 200px;
}
.xia:hover{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: 1s all ease-in;
}
.character-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.xia{
    width: 200px;
    height: 200px;
}
footer{
    background-color: #3a3a3a;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top:  5px solid #ff8c00;
}
footer p{
    font-size: 0.9em;

}
footer .social-icons a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
li a:hover{
    color:cornflowerblue;
}